<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SummerKidsEntity.Properties.Settings.SummerKidsConnectionStringCarlos"
            connectionString="Data Source=REM;Initial Catalog=SummerKids;Persist Security Info=True;User ID=sa;Password=55427222"
            providerName="System.Data.SqlClient" />
        <add name="SummerKidsEntity.Properties.Settings.SummerKidsConnectionStringKatia"
            connectionString="Data Source=;Initial Catalog=SummerKids;Persist Security Info=True;User ID=sa;Password=1234" />
        <add name="SummerKidsEntity.Properties.Settings.SummerKidsConnectionStringJan"
            connectionString="Data Source=;Initial Catalog=SummerKids;Persist Security Info=True;User ID=sa;Password=1234" />
        <add name="SummerKidsEntity.Properties.Settings.SummerKidsConnectionStringOmar"
            connectionString="Data Source=;Initial Catalog=SummerKids;Persist Security Info=True;User ID=sa;Password=1234" />
        <add name="SummerKidsEntity.Properties.Settings.SummerKidsConnectionStringHugo"
            connectionString="Data Source=;Initial Catalog=SummerKids;Persist Security Info=True;User ID=sa;Password=1234" />
        <add name="SummerKidsEntity.Properties.Settings.SummerKidsConnectionStringKaren"
            connectionString="Data Source=;Initial Catalog=SummerKids;Persist Security Info=True;User ID=sa;Password=1234" />
    </connectionStrings>
</configuration>